html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
}

#spacer{
  height: 10000px;
  width: 100vw;
}
#scrollDiv {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

#scrollDiv::-webkit-scrollbar { /* WebKit */
    width: 0px;
}
